.other {
  background-color: $color-bg;
  &_text_box {
    margin-bottom: 45px;
    padding-right: 30rem;
  }
  &_conteiner {
    position: relative;
    height: 28rem;
    &_2 {
      height: 28rem;
      display: flex;
      position: relative;
      align-items: flex-end;
    }
  }
  &_wrap_boxes {
    position: relative;
    z-index: 1000;
    background-color: white;
    border-radius: 10px;
    padding: 32px 28px 25px;
    &_box {
      z-index: 1000;
      margin-bottom: 1.5rem;
    }
    &_link {
      text-align: right;
    }
  }
  &_images_box {
    position: absolute;
    top: -2rem;
    left: -10rem;
    padding: 3rem 3rem 3rem 10rem;
    border: 10px solid rgba(176, 142, 68, 0.1);
    text-align: center;
    align-items: center;
    z-index: 11;

    &_2 {
      padding: 3rem 8rem 3rem 5rem;
      top: 13.6rem;
      left: 15rem;
    }
  }
  &_img {
    height: 300px;
    width: 300px;
    &_box {
      position: absolute;
      top: -7rem;
      right: 0.5rem;
    }
  }
  #phone {
    animation: phone 1s ease-in-out infinite alternate;
  }
  @keyframes phone {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(3deg);
    }
  }
}
