.solution {
  position: relative;
  background-color: $color-bg;

  &_text_box {
    text-align: center;
    padding: 0 17rem;
  }
  &_primary {
    margin-bottom: 2.5rem;
  }
  &_span_box {
    justify-content: center;
    display: flex;
    margin-bottom: 2.5rem;
  }
  &_box {
    display: flex;
    justify-content: space-between;
    &_boxes {
      display: block;
      padding: 0.5rem;
      background-color: $color-div-bg;
      text-align: center;
      height: 100%;
      box-shadow: 5px 5px 4px rgba(44, 44, 44, 0.3);
      border-radius: 6px;
    }
  }
}
.span {
  background-color: $color-official;
  margin: 0 0.9rem;
  height: 5rem;
  width: 2px;
}
