@media only screen and (max-width: 1087px) {
  .header {
    padding: 7rem 9rem;
  }

  .about {
    padding: 6rem 8rem;
  }

  .solution {
    padding: 3rem 8rem;
  }

  .news {
    padding: 5rem 8rem;
  }

  .questions {
    padding: 3rem 8rem;
  }

  .work {
    padding: 6rem 8rem 1rem;
  }

  .lawyers {
    padding: 6rem 8rem;
  }

  .service {
    padding: 3rem 5rem;
  }

  .other {
    padding: 0 2rem;
  }
  .question {
    padding: 1rem 5rem;
  }

  .footer {
    padding: 6rem 9rem;
  }
}

@media only screen and (max-width: 900px) {
  .header {
    padding: 7rem 2rem;
  }

  .about {
    padding: 6rem 5rem;
  }

  .solution {
    padding: 3rem 5rem;
  }

  .news {
    padding: 2rem 5rem;
  }

  .questions {
    padding: 3rem 5rem;
  }

  .work {
    padding: 3rem 5rem 1rem;
  }

  //   .lawyers {
  //     padding: 6rem 9rem;
  //   }

  .service {
    padding: 1rem 4rem;
  }

  .other {
    padding: 3rem 1rem 0;
  }
  .question {
    padding: 1rem 2rem;
  }

  .footer {
    padding: 6rem 5rem;
  }
}

@media only screen and (max-width: 767px) {
  .work {
    padding: 3rem 5rem 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    padding: 5rem 4rem;
  }

  .about {
    padding: 6rem 2rem;
  }

  .solution {
    padding: 1rem 2rem;
  }

  .news {
    padding: 2rem 3rem;
  }

  .questions {
    padding: 3rem 3rem;
  }

  .work {
    padding: 3rem 3rem 1rem;
  }

  //   .lawyers {
  //     padding: 6rem 9rem;
  //   }

  .service {
    padding: 3rem 1rem;
  }

  //   .other {
  //     padding: 0 9rem;
  //   }
  //   .question {
  //     padding: 1rem 9rem;
  //   }

  //   .footer {
  //     padding: 6rem 9rem;
  //   }
}

@media only screen and (max-width: 400px) {
  .header {
    padding: 3rem 2rem;
  }

  .about {
    padding: 5rem 2rem;
  }

  //   .solution {
  //     padding: 3rem 9rem;
  //   }

  //   .news {
  //     padding: 6rem 9rem;
  //   }

  .questions {
    padding: 2rem 2rem;
  }

  .work {
    padding: 1rem 2rem 1rem;
  }

  //   .lawyers {
  //     padding: 6rem 9rem;
  //   }

  .service {
    padding: 3rem 2rem;
  }

  //   .other {
  //     padding: 0 9rem;
  //   }
  //   .question {
  //     padding: 1rem 9rem;
  //   }

  //   .footer {
  //     padding: 6rem 9rem;
  //   }
}
