.header {
  padding: 7rem 9rem;
}

.about {
  padding: 6rem 9rem;
}

.solution {
  padding: 3rem 9rem;
}

.news {
  padding: 6rem 9rem;
}

.questions {
  padding: 6rem 9rem;
}

.work {
  padding: 6rem 9rem 1rem;
}

.lawyers {
  padding: 6rem 9rem;
}

.service {
  padding: 3rem 5rem;
}

.other {
  padding: 0 9rem;
}
.question {
  padding: 6rem 8rem;
}

.footer {
  padding: 6rem 9rem;
}
