@media only screen and (max-width: 900px) {
  .service {
    &_primary {
      margin-bottom: 1.5rem;
    }
    &_card {
      margin-bottom: 1.5rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .service {
    &_primary {
      margin-bottom: 1rem;
    }
    &_card {
      margin-bottom: 1rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .service {
    &_primary {
      margin-bottom: 0.6rem;
    }
    &_card {
      margin-bottom: 1rem;
    }
  }
}
