@media only screen and (max-width: 1087px) {
  .header_link {
    display: inline-block;
    transition: all 0.4s;
    animation: header_link 1.5s ease-in-out infinite alternate;
  }
  .header_link:hover {
    color: white;
  }

  #arrow {
    animation: arrow 1s ease-in-out infinite alternate;
    width: 1.1rem;
    margin-left: 0.3rem;
  }
  @keyframes arrow {
    0% {
      transform: translateX(0rem);
    }
    100% {
      transform: translateX(0.5rem);
    }
  }

  @keyframes header_link {
    0% {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffb612,
        0 0 10px #ffb612, 0 0 20px #ffb612, 0 0 20px #ffb612,
        0 0 20px rgba(255, 182, 18, 0.87);
    }

    100% {
      text-shadow: 0 0 5px #33b5e5, 0 0 10px #33b5e5, 0 0 15px #33b5e5,
        0 0 20px rgba(51, 181, 229, 0.87), 0 0 15px #33b5e5,
        0 0 20px rgba(51, 181, 229, 0.87), 0 0 20px rgba(51, 181, 229, 0.87),
        0 0 20px rgba(51, 181, 229, 0.87);
    }
  }

  .news_box_link {
    background: $color-bg;
    border-radius: 8px;
    font-family: "Cantata One", serif;
    font-size: 14px;
    line-height: 18px;
    padding: 0.2rem 1.5rem;
    text-decoration: none;
    border: none;
  }

  .news_link {
    padding: 0.5rem 1rem;
  }

  .questions_top_link {
    font-size: 11px;
    padding: 3px 6px;
    border-radius: 8px 8px;
    margin-right: 0;
    &_2 {
      background-color: white;
      z-index: 5;
      border-radius: 0 8px 8px;
      margin-left: -1rem;
    }
  }

  .questions_boxes_link {
    font-size: 11px;
    padding: 0.1rem;
  }

  .questions_link {
    padding: 0.2rem 0.5rem;
  }

  .other_link {
    font-size: 18px;
    padding: 4px 7px;
    border: 3px solid #b08e44;
    border-radius: 8px;
    &_2 {
      background-color: #b08e44;
      color: white;
    }
  }
}
@media only screen and (max-width: 900px) {
  .header_link {
    display: inline-block;
    transition: all 0.4s;
    animation: header_link 1.5s ease-in-out infinite alternate;
  }
  .header_link:hover {
    color: white;
  }

  .news_box_link {
    border-radius: 8px;
    font-size: 14px;
    line-height: 18px;
    padding: 0.2rem 1.5rem;
  }

  .news_link {
    padding: 0.5rem 1rem;
  }

  .questions_top_link {
    font-size: 11px;
    padding: 3px 6px;
    border-radius: 8px 8px;
    margin-right: 0;
    &_2 {
      background-color: white;
      z-index: 5;
      border-radius: 0 8px 8px;
      margin-left: -1rem;
    }
  }

  .questions_boxes_link {
    font-size: 11px;
    padding: 0.1rem;
  }

  .questions_link {
    padding: 0.2rem 0.5rem;
  }

  .other_link {
    font-size: 15px;
    padding: 2px 5px;
    border: 2px solid #b08e44;
    border-radius: 8px;
    &_2 {
      background-color: #b08e44;
      color: white;
    }
  }
}
@media only screen and (max-width: 400px) {
  .header_link {
    display: inline-block;
    transition: all 0.4s;
    animation: header_link 1.5s ease-in-out infinite alternate;
  }
  .header_link:hover {
    color: white;
  }

  #arrow {
    animation: arrow 1s ease-in-out infinite alternate;
    width: 1.1rem;
    margin-left: 0.3rem;
  }
  @keyframes arrow {
    0% {
      transform: translateX(0rem);
    }
    100% {
      transform: translateX(0.5rem);
    }
  }

  @keyframes header_link {
    0% {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffb612,
        0 0 10px #ffb612, 0 0 20px #ffb612, 0 0 20px #ffb612,
        0 0 20px rgba(255, 182, 18, 0.87);
    }

    100% {
      text-shadow: 0 0 5px #33b5e5, 0 0 10px #33b5e5, 0 0 15px #33b5e5,
        0 0 20px rgba(51, 181, 229, 0.87), 0 0 15px #33b5e5,
        0 0 20px rgba(51, 181, 229, 0.87), 0 0 20px rgba(51, 181, 229, 0.87),
        0 0 20px rgba(51, 181, 229, 0.87);
    }
  }

  .news_box_link {
    background: $color-bg;
    border-radius: 8px;
    font-family: "Cantata One", serif;
    font-size: 14px;
    line-height: 18px;
    padding: 0.2rem 1.5rem;
    text-decoration: none;
    border: none;
  }

  .news_link {
    padding: 0.5rem 1rem;
  }

  .questions_top_link {
    font-size: 11px;
    padding: 3px 6px;
    border-radius: 8px 8px;
    margin-right: 0;
    &_2 {
      background-color: white;
      z-index: 5;
      border-radius: 0 8px 8px;
      margin-left: -1rem;
    }
  }

  .questions_boxes_link {
    font-size: 11px;
    padding: 0.1rem;
  }

  .questions_link {
    padding: 0.2rem 0.5rem;
  }

  .other_link {
    font-size: 13px;
    padding: 0px 12px;
    border: 2px solid #b08e44;
    border-radius: 8px;
    &_2 {
      background-color: #b08e44;
      color: white;
    }
  }
}
